body{
    background-image: url(https://www.arup.com/globalassets/images/services/planning/airport-planning/plane-at-an-airport-terminal-airport-planning-hero.jpg?width=1840&quality=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.covid19-rules{
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    opacity: 0.9;
    color: black;
    width: 1700px;
    height: 600px;
    margin-left: 111px;
    margin-top: 111px;
    padding: 50px;
}