body{
    background-image: url(https://www.arup.com/globalassets/images/services/planning/airport-planning/plane-at-an-airport-terminal-airport-planning-hero.jpg?width=1840&quality=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.tables{
    display: flex;
}

.table{
    width: 700px;
    opacity: 1;
    margin-top: 50px;
}

.tables{
    background-color: white;
    margin: 200px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 1500px;
    border-radius: 20px;
    opacity: 0.95;
}

.tables123