body{
    background-image: url(https://www.arup.com/globalassets/images/services/planning/airport-planning/plane-at-an-airport-terminal-airport-planning-hero.jpg?width=1840&quality=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.tables{
    display: flex;
}

.table1{
    width: 700px;
    margin-left: 180px;
    margin-top: 300px;
}